# Ignore everything by default
*

# Whitelist these files and folders
!/.gitignore
!/cypress/
!/cypress/**/*
!cypress.config.js
!package.json
!package-lock.json

# Ignore system folders and unnecessary stuff
node_modules/
1-getting-started/
2-advanced-examples/

# Editor-specific and OS-specific files
.vscode/
.DS_Store
Thumbs.db

# Logs and environments
*.log
.env